@import "@fortawesome/fontawesome-free/css/all.css";

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// Couleur

$green : #0de065 ;

.d-flex{
  display: flex;
  justify-content: space-between;
}

.d-flex-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.carteVaccin{
  border: #0de065aa  2px solid;
  text-align: center;
  width: 340px;
  padding: 3px;
  color:black;
  margin-top: 10px;
  
  h2{
    color: $green ;
    text-transform: uppercase;
  }
}
.cheat{
  width: 340px;
}

.img-vaccin{
  width: 320px;
  height: 250px;
}

.quantiteVoulue{
  margin-top: 15px;
}

.titre-site{
  font-size: 60px;
  text-align: center;
  background-color: black;
  color: $green;
  font-family:'Courier New, Courier, monospace';
  align-items: center;
}


.img-covid{
  width: 168px;
  height: 157px;
}

button{
  border: $green solid 0.2rem;
  border-radius: 0.6em;
  color: $green;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 20px 30px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
    cursor: pointer;
  }

}
button {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px $green inset;
    
  }
}


footer{
  min-height: 400px;
  h2{
    text-align: center;
  }
  .contenuCommande, .total, .messageCommande {
    margin-left: 100px;
   
    div{
      padding: 5px;
    }
  }

  .commande{
    margin-right: 100px ;
    background-color: black;
    color:$green;
    font-size: 18px;
  }
  .btn-commande{
    margin-top: 50px;
    text-align: center;
  }
  button:disabled{
    background-color: gray;
    border: rgb(81, 80, 80);
    color:  rgb(81, 80, 80);
    &:hover {
      box-shadow: 0 0 40px 40px gray inset;
      cursor :not-allowed;
    }
  }

}

.resume-order{
  margin: 50px;
  div{
    padding: 5px;
  }
  .commande{
    background-color: black;
    color:$green;
  }
}
